{% set page_shell_class = "mx-auto max-w-[1500px] space-y-5" %}
{% set detail_grid_class = "grid gap-5 lg:grid-cols-[minmax(0,2fr)_minmax(18rem,1fr)]" %}
{% include "common/frontend_page_detail.tsx.j2" %}
