from typing import List, Optional
from sqlmodel import Session
from app.cruds import {{ model.lower_name }} as crud
from app.schemas.{{ model.lower_name }} import {{ model.name }}Create, {{ model.name }}Update
from app.models.{{ model.lower_name }} import {{ model.name }}

class {{ model.name }}Service:
    def get(self, session: Session, id: int) -> Optional[{{ model.name }}]:
        return crud.get(session, id)

    def get_multi(self, session: Session, skip: int = 0, limit: int = 100) -> List[{{ model.name }}]:
        return crud.get_multi(session, skip=skip, limit=limit)

    def create(self, session: Session, obj_in: {{ model.name }}Create) -> {{ model.name }}:
        return crud.create(session, obj_in)

    def update(self, session: Session, db_obj: {{ model.name }}, obj_in: {{ model.name }}Update) -> {{ model.name }}:
        return crud.update(session, db_obj, obj_in)

    def delete(self, session: Session, id: int) -> {{ model.name }}:
        return crud.delete(session, id)

service = {{ model.name }}Service()
